## Conversion format of the ndvi data

In [60]:
import pandas as pd
from collections import OrderedDict
# year,state_name,county_name,yield,lon,lat

df = pd.read_csv('merged_ndvi.csv')
df = pd.DataFrame({'year': df['year'], 'month': df['month'], 'state_name': df['state_name'],
                'county_name': df['name'], 'NDVI': df['NDVI']})


df_list = []
for i in range(len(df['year'])):
    temp_dict = dict()
    for k in df:
        temp_dict[k] = df[k][i]
#     print(temp_dict)
#     temp_dict.pop('Unnamed: 0')
    df_list.append(temp_dict)

converted_df = pd.DataFrame(list(map(dict, OrderedDict.fromkeys(tuple(d.items()) for d in df_list))))
converted_df.to_csv('converted_ndvi.csv', index=False)

In [61]:
print(converted_df)

       year  month  state_name county_name      NDVI
0      2017      1  WASHINGTON     WHATCOM  0.082927
1      2017      1  WASHINGTON   SNOHOMISH  0.082927
2      2017      1  WASHINGTON      SKAGIT  0.082927
3      2017      1  WASHINGTON   KLICKITAT  0.122807
4      2017      1  WASHINGTON      BENTON  0.122807
...     ...    ...         ...         ...       ...
39972  2022      9    OKLAHOMA      ROGERS  0.659091
39973  2022      9      KANSAS    ATCHISON  0.729730
39974  2022      9      KANSAS       BROWN  0.729730
39975  2022      9      KANSAS    DONIPHAN  0.729730
39976  2022      9      KANSAS     JACKSON  0.729730

[39977 rows x 5 columns]

## create lon lat yield dataset

In [63]:
lon_lat_dir = '../lon_lat_data/'
lon_lat_file = 'state_county_lon_lat.csv'

lon_lat_df = pd.read_csv(lon_lat_dir + lon_lat_file)
print(type(lon_lat_df))

<class 'pandas.core.frame.DataFrame'>